body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.navbar{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color:rgba(255,255,255,.15);
    /* text-align: center; */
}
.navbar .navbar-nav{
    display: inline-block;
/*     background-color:rgba(255,255,255,1); */
    float: none;
    margin-bottom: 0;

}
.navbar-collapse {
    text-align: center;
    margin-bottom: 0;

}

.sect1{
    /* padding-top: 30%; */
    background: url("http://i.imgur.com/Z6PBLjU.jpg") center center fixed no-repeat;

}
.sect2{
    padding-top: 5%;
    background:url("http://i.imgur.com/q0bqeXR.jpg") center center fixed no-repeat;
}
.sect3{
    padding-top: 10%;
    background: url("http://i.imgur.com/TCAWQ4A.jpg")center center fixed no-repeat;
     /* min-height: 768px; */
}
.sect4{
    padding-top: 10%;
    background: url("http://i.imgur.com/HTX8oit.jpg")center center fixed no-repeat;
}
footer{
    padding-top: 10%;
    background-color: rgba(51,51,51,1);
}
.overLay{
    background-color: rgba(0,0,0,.5);
}
.collapseBtn{
    background-color: rgba(0,0,0,.9);
    color: rgba(255,255,255,.8);
}
.jumbotron{
  padding-top: 35%;
  padding-bottom: 30%;
  background-color: transparent;
}
h1.h1Style,h4{
    color: rgba(255,255,255,.7);
}
div.full{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 768px;
    height:100%;


}
.socialBtn{
    border-radius: 100%;
    background: rgba(255,255,255,.7);
}
abbr[title]{
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}