* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

:root {
    --btn-text: hsl(0, 0%, 100%);
    --btn-color: ;
    --card-bg: ;
    --main-bg: hsl(30, 38%, 92%);
    --text-color1: hsl(212, 21%, 14%);
    --text-color2: hsl(228, 12%, 48%);
    --text-color3: hsl(158, 36%, 37%);

}


body {
    background: var(--main-bg);
    color: var(--text-color2);
}

body,
input,
button,
h1 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 15px;
    font-weight: 500;

}

h1 {
    letter-spacing: 1.5px;
    font-weight: 500;
}

.product-name,
.discounted {
    font-family: 'Fraunces', serif;
}

.product-name {
    padding-right: 45px;
    font-size: 2rem;
    color: var(--text-color1);
    line-height: 1;

}

button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--text-color3);
    padding: 15px;
    color: var(--btn-text);
    border-radius: 6px;
    width: 250px;

}

.btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 10px;

}


footer {
    text-align: center;
    align-self: flex-end;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--btn-text);
    max-width: 600px;
    min-width: 300px;
    height: 450px;
    border-radius: 15px;
    margin: 155px auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 30px 10px 22px;

}

.container img {
    border-radius: 15px 0 0 15px;
}

.product-details,
.container img {
    width: 300px;
    min-width: 300px;
    flex: 1;
}


.description {
    font-size: .9rem;
}

.list-price {
    width: 200px;
}

.list-price {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.discounted {
    color: var(--text-color3);
    font-size: 2rem;
    align-self: center;
}

.srp {
    text-decoration: line-through;
}


/* mobile S, mobile M */
@media only screen and (min-width:320px) and (max-width:370px) {

    .container {
        height: calc(100vh - 170px);
        /* max-height: 600px; */
        min-width: 300px;
        max-width: 350px;
        background-color: var(--btn-text);
        border-radius: 15px;
        margin: 20% 2% 20% 4%;
        padding-bottom: 25px;
        align-items: center;
        justify-content: center;

    }

    .product-name {
        font-size: 1.8rem;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .product-details {
        margin-left: 15px;
        margin-top: 10px;
        padding: 5px 15px 5px 10px;
    }

    .description {
        padding-bottom: 15px;
        /* font-size: .8rem; */
    }

    .container img {
        content: url("/images/image-product-mobile.jpg");
        border-radius: 15px 15px 0 0;
        max-height: 45%;
        align-self: flex-start;
    }

    .btn {
        width: calc(325px - 75px);
        /* align-self: center; */
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: -10px;
    }


}

@media only screen and (min-width:375px) and (max-width:399px) {
    .container {
        height: calc(100vh - 170px);
        /* max-height: 600px; */
        min-width: 300px;
        max-width: 350px;
        background-color: var(--btn-text);
        border-radius: 15px;
        margin: 20% 2% 20% 4%;
        padding-bottom: 25px;
        align-items: center;
        justify-content: center;

    }

    .product-name {
        font-size: 1.8rem;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .product-details {
        margin-left: 15px;
        margin-top: 10px;
        padding: 5px 15px 5px 10px;
    }

    .description {
        padding-bottom: 15px;
        /* font-size: .8rem; */
    }

    .container img {
        content: url("/images/image-product-mobile.jpg");
        border-radius: 15px 15px 0 0;
        max-height: 45%;
        align-self: flex-start;
    }

    .btn {
        width: calc(375px - 75px);
        margin-left: -5px;
        margin-top: 15px;
        margin-bottom: -10px;
    }


}

@media only screen and (min-width:400px) and (max-width:600px) {

    .container {
        height: calc(100vh - 130px);
        /* max-height: 600px; */
        min-width: 300px;
        max-width: 350px;
        background-color: var(--btn-text);
        border-radius: 15px;
        margin: 10% 0 25% 35px;
        padding-bottom: 25px;
        align-items: center;
        justify-content: center;

    }

    .product-name {
        font-size: 1.8rem;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .product-details {
        margin-left: 15px;
        margin-top: 10px;
        padding: 5px 20px;
        font-size: 1rem;
    }

    .description {
        padding-bottom: 20px;
    }

    .container img {
        content: url("/images/image-product-mobile.jpg");
        border-radius: 15px 15px 0 0;
        max-height: 45%;
        align-self: flex-start;
    }

    .btn {
        width: calc(425px - 125px);
        margin-left: -10px;
        margin-top: 20px;
        margin-bottom: -10px;
    }

}